.wrapper {
	display: grid;
	grid-gap: 1em;
}

.catlist {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-gap: 1em;
	
}

.catlist > div {
	background-color: #d3d3d3;
	padding: 20px;
	border-bottom: 2px inset;
}

