
.gboard {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-gap: 1em;
}

.gtiles {
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%;
	grid-gap: 1em;
	}

.gtiles > button {
	border-style: outset;
	text-align: center;
	border-radius: 5%;
	padding: 20px;
}

.gtiles > button {
	transition-duration: 0.4s;
}

.gtiles > button:hover {
	color: blue;
	transform: translateY(4px);
}

.gtilescat1 > button:nth-child(odd) {
	background-color: #e6e6fa;
}

.gtilescat1 > button:nth-child(even) {
	background-color: #e1f7d5;
}

.gtilescat2 > button:nth-child(even) {
	background-color: #e9967a;
}

.gtilescat3 > button:nth-child(even) {
	background-color: #ffffff;
}

.gtilescat4 > button:nth-child(even) {
	background-color: #f1cbff;
}

.gtilescat5 > button:nth-child(even) {
	background-color: #ffbdbd;
}

.gtilescat2 > button:nth-child(odd) {
	background-color: #f0fff0;
}

.gtilescat3 > button:nth-child(odd) {
	background-color: #ee82ee;
}

.gtilescat4 > button:nth-child(odd) {
	background-color: #fafad2;

}
.gtilescat5 > button:nth-child(odd) {
	background-color: #7fffd4;

}