<div class="gboard" id="gbwrapper">
	<div class="gtiles gtilescat1">
		<button *ngFor="let tvalue of tiles"><h3> {{ tvalue.value }} </h3></button>
	</div>
		<div class="gtiles gtilescat2">
		<button *ngFor="let tvalue of tiles"><h3> {{ tvalue.value }} </h3></button>
	</div>
		<div class="gtiles gtilescat3">
		<button *ngFor="let tvalue of tiles"><h3> {{ tvalue.value }} </h3></button>
	</div>
		<div class="gtiles gtilescat4">
		<button *ngFor="let tvalue of tiles"><h3> {{ tvalue.value }} </h3></button>
	</div>
		<div class="gtiles gtilescat5">
		<button *ngFor="let tvalue of tiles"><h3> {{ tvalue.value }} </h3></button>
	</div>
</div>
